<form [formGroup]="myForm" [hidden]="success" (ngSubmit)="submitHandler()">
    <hr>

    <mat-form-field>
        <input matInput placeholder="email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="your message..." formControlName="message"></textarea>
    </mat-form-field>


    <button mat-button color="primary" type="submit" [disabled]="myForm.invalid">Submit Form</button>

</form>

<div *ngIf="success" class="notification is-success">
    Yay! We received your submission
</div>
