<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">To Do App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/todo">ToDos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/todo/add">Add ToDo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-event/add-event">Add Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/event-info/event-info">Event Info</a>
        </li>
      </ul>
    </div>
    <div class="float-right">
      <button
        *ngIf="!loggedIn"
        class="btn btn-primary btn-sm"
        routerLink="/login"
      >
        Log In
      </button>
      <button
        *ngIf="loggedIn"
        class="btn btn-default btn-sm"
        (click)="logout()"
      >
        Log Out
      </button>
    </div>
  </nav>
</div>

<div class="router container">
  <router-outlet></router-outlet>
</div>
