<form [formGroup]="myForm">

  Value: {{ myForm.value | json }}

  <hr>
  <h4>Email</h4>

  <mat-form-field class="full">
    <input matInput placeholder="email" formControlName="email">
  </mat-form-field>

  <h4>Cell Phone</h4>

  <div formGroupName="cellPhone">

    <mat-form-field>
      <input matInput placeholder="area" formcontrolName="area">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="prefix" formcontrolName="prefix">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="line" formcontrolName="line">
    </mat-form-field>
  </div>
</form>
