<!--<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">   By writing #f, we are creating a new form class so to say, whatever we set it equal to we can pass inside a function as a sort of 
                                                        argument. But to set the parameter for that argument see the app.component.ts, remember though in html documents, you usually 
                                                        use double quotes when passing anything. However, there's another spot to pass f, go back to app.component.ts
        <div id="user-data" 
              ngModelGroup="userData"
              #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input 
              type="text" 
              id="username" 
              class="form-control"
              ngModel
              name="username"
              required
            >                     When you have a form itself such as this, by writing the selector required within the < > angular automatically detects it is a required 
                                    field.               
          </div>
          <button 
              class="btn btn-default" 
              type="button"
              (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input 
              type="email" 
              id="email" 
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel"
            >                       <Here we see email and this selector/directive we pass email will make the required selector have to pass a proper email in order for it to be true.
            <span class="help-block" *ngIf="!email.value && email.touched">Please enter a valid email</span> I can put as many class modifiers in here as I want
                                                                                                                  touched simply means that it was clicked on.
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched" >User Data is invalid</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" 
                  class="form-control"
                  [ngModel]="defaultQuestion"
                  name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea 
            name="questionAnswer" 
            rows="3"
            class="form-control"
            [(ngModel)]="answer"></textarea>
        </div>
        <p>Your reply {{ answer }} </p>
        <div class="radio" *ngFor="let gender of genders"> 
          <label>
            <input 
                  type="radio"
                  name="gender"
                  ngModel
                  [value]="gender"
                  required>                ngModel is a control
              {{ gender }}
            </label>
        </div>
        <button 
          class="btn btn-primary" 
          type="submit"
          [disabled]="!f.valid">Submit</button>     <here we see the class f which we passed in @ViewChild as a paramter, so we concatenate the value valid on it, 
                                                      to say whether its valid or not then we set it to false with !, so there we go, it'll be disabled unless its true
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{ user.username }} </p>
      <p>Mail: {{ user.email }} </p>
      <p>Secret Question: Your first {{ user.secretQuestion }} </p>
      <p>Answer: {{ user.answer }} </p>
      <p>Gender: {{ user.gender }} </p>
    </div>
  </div>
</div>-->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Mail</label>
          <input 
              type="email" 
              id="email" 
              ngModel 
              name="email"
              required
              email
              class="form-control"
              #email="ngModel">
              <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="subscription">Choose a subscription</label>
          <select 
              name="subscription" 
              id="subscription" 
              [ngModel]="selectedSubscription" 
              class="form-control">
              <option
                *ngFor="let subscription of subscriptions"
                [value]="subscription">{{ subscription }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input 
              type="password" 
              id="password" 
              name="password" 
              [ngModel]="" 
              required
              class="form-control"
              #password="ngModel">
              <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password!</span>
        </div>
        <p *ngIf="!signupForm.valid && signupForm.touched">The form is invalid!</p>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>      
    </div>
  </div>
</div>

