.container {
  margin-top: 30px;
}

input.ng-invalid.ng-touched {       /*personally I would use input.ng-invalid as your console.log already assigns a value pf invalid if it blank, but also in the form itself the selector 
                                    we want itself is in the input selector. so input selector it is. .ng-touched concatenated on the end allows for another attribute to the css*/
  border: solid 1px red;
}