<form [formGroup]="myForm">

  Value: {{ myForm.value | json }}

  <hr>
<div class="box">
  <h4>Email</h4>
  <mat-form-field>
    <input matInput placeholder="email" formControlName="email">
  </mat-form-field>
</div>

<div class="box">
<h4>Message</h4>
  <mat-form-field>
    <textarea matInput placeholder="message" formControlName="message">Message</textarea>
  </mat-form-field>
</div>

<div class="box">
<h4>Career</h4>
  <mat-form-field>
    <mat-select formControlName="career" placeholder="career">Career

    </mat-select>
  </mat-form-field>
</div>
</form>
